<div class="ion-align-self-center" size="auto">
  <ion-card class="ion-text-center">
    <ion-card-header color="secondary">
      <ion-card-subtitle>KILLER</ion-card-subtitle>
      <ion-card-title>
        <strong>{{ playerGameStatus[playerNumber]?.name | uppercase }}</strong>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- //--<> add content into grid -->
      <div *ngFor="let i of [0, 1, 2]">
        <ion-label
          >Dart #{{ i + 1 }} : {{ currentPlayer3DartScores[i] }}
        </ion-label>
        <ion-chip
          *ngIf="currentPlayer3DartScores[i] != null"
          color="danger"
          (click)="deleteFromArray(i)"
        >
          Delete
        </ion-chip>
      </div>
      <!-- interface buttons -->
      <ion-label class="ion-padding">
        <strong>
          Score left: {{ playerGameStatus[playerNumber]?.score }}</strong
        >
      </ion-label>
      <br />
      <ion-button
        (click)="showDartSelection()"
        [disabled]="currentPlayer3DartScores.length === 3"
        >Choose</ion-button
      >
      <ion-button
        (click)="playerDone()"
        [disabled]="currentPlayer3DartScores.length < 3"
        >Done</ion-button
      >
    </ion-card-content>
  </ion-card>
</div>
