<ion-card>
  <ion-card-header><h1>Please select one</h1></ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let scoreButton of scoringValues"
        ><ion-chip
          (click)="valueSelected(scoreButton.value)"
          [disabled]="selectedValue != null"
        >
          <ion-label color="primary" outline="false">{{
            scoreButton.name
          }}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card-header><h1>Please select one</h1></ion-card-header>
  <ion-grid>
    <ion-row
      ><ion-col>
        <ion-chip (click)="multiply(1)" [disabled]="selectedValue === null">
          <ion-label color="primary" outline="false">Single</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col
        ><ion-chip (click)="multiply(2)" [disabled]="selectedValue === null">
          <ion-label color="primary" outline="false">Double</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col
        ><ion-chip (click)="multiply(3)" [disabled]="selectedValue === null">
          <ion-label color="primary" outline="false">Triple</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
