<ion-card>
  <ion-card-header><h1>Please Select</h1></ion-card-header>
  <ion-grid>
    <ion-row>
      <!-- <ionic-template *ngIf="[selectedValue] >= 0"> -->
      <ion-col *ngFor="let scoreButton of scoringValues"
        ><ion-chip (click)="valueSelected(scoreButton.value)">
          <ion-label color="primary" outline="false">{{
            scoreButton.name
          }}</ion-label>
        </ion-chip>
      </ion-col>
      <!-- </ionic-template> -->
      <ion-col
        ><ion-chip (click)="dismiss(1)">
          <ion-label color="primary" outline="false">Single</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col
        ><ion-chip (click)="dismiss(2)">
          <ion-label color="primary" outline="false">Dubble</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col
        ><ion-chip (click)="dismiss(3)">
          <ion-label color="primary" outline="false">Tripple</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
