<ion-item>
  <ion-label>Players</ion-label>
  <ion-input
    formControlName="amountOfPlayers"
    type="number"
    max="6"
    min="1"
    name="playerVal"
  ></ion-input>
</ion-item>
<ion-select
  name="killerVal"
  interface="popover"
  placeholder="Select One"
  formControlName="killerVal"
  size="auto"
>
  <ion-select-option value="301">301</ion-select-option>
  <ion-select-option value="501">501</ion-select-option>
  <ion-select-option value="701">701</ion-select-option>
</ion-select>
<ion-button>Start</ion-button>
<ion-grid>
  <ion-row>
    <ion-col name="player">
      <ion-item>
        <ion-label></ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
